@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --black: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: rgb(237, 64, 64);
}

body {
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    font-weight: 900;
    z-index: 9999;
    background-color: #f5eeee;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    padding: 5px 0;
    text-decoration: underline;
}

.ham {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    display: block;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    transform: .2s;
    margin: 5px 5px;
    border-radius: 50px;
    color: var(--text-color);
}

nav ul li a:hover {
    color: #fff;
    background-color: var(--text-color);
}

a.active {
    color: #fff;
    ;
    background-color: var(--text-color);
}

@media(max-width : 1320px) {
    header {
        padding: 0 50px;
    }
}



@media (max-width : 750px) {
    .ham {
        display: block;
        height: 100%;
    }

    .ham .line {
        width: 30px;
        height: 3px;
        background-color: var(--text-color);
        margin: 5px 0;
        border-radius: 10px;
    }

    .line.rotate {
        transform: rotate(45deg) translate(5.5px);
        transition: .5s;
    }

    .line.display {
        transform: rotate(-45deg) translate(5px);
        transition: .5s;
    }

    .line.secondRotate {
        display: none;
    }

    header nav {
        position: absolute;
        top: 27px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background-color: #f5eeee;
        transition: .2s;
        text-align: center;
        overflow: hidden;
    }

    nav.active {
        height: 250px;
    }

    nav.active ul {
        opacity: 1;
        transition: .6s;
    }

    nav ul {
        display: inline-block;
        width: fit-content;
        transform: .5s;
        opacity: 0;
    }

    nav ul li a {
        margin-top: 20px;
    }
}

.home {
    width: 100%;
    padding: 90px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-area {
    flex: 50%;
}

.image-area img {
    width: 100%;
}

.text-content {
    flex: 50%
}

.text-content h1 {
    width: 100%;
    font-size: 35px;
    margin: 30px 0;
    font-weight: bolder;
}

.text-content p {
    margin: 10px 0;
    font-size: 20px;
    width: 100%;
}

.text-content button {
    margin: 30px 0;
    padding: 14px 35px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: rgb(237, 64, 64);
    font-weight: 900;
    color: #fff;
    cursor: pointer;
}

.delivery-services {
    width: 100%;
    padding: 90px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.delivery-services .heading h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(237, 64, 64);
    text-transform: capitalize;
}

.delivery-services .heading h3 {
    width: 100%;
    font-size: 35px;
    text-align: center;
    margin: 10px 0 80px 0;
    font-weight: 900;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}

.about {
    width: 100%;
    padding: 90px 60px;
    position: relative;
}

.about-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: 60px;
    grid-row-gap: 0px;
    position: relative;
}

.about-parent .div1 {
    flex: 50%;
}

.about-parent .div1 img {
    width: 90%;
}

.about-parent .div2 {
    flex: 50%;
}

.about-parent .div2 h3 {
    font-size: 30px;
    color: rgb(237, 64, 64);
}

.about-parent .div2 h1 {
    width: 100%;
    font-size: 35px;
    margin: 10px 0 35px 0;
    text-transform: capitalize;
    font-weight: 900;
}

.about-parent .div2 p {
    margin: 25px 0;
}

.about-parent .div2 .rating {
    text-transform: capitalize;
    font-weight: 600;
}

.about-parent .div2 .rating-tab {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    padding: 20px 0;
    border-radius: 10px;
    background-color: rgb(237, 64, 64);
    color: #fff;
    font-weight: 900;
    position: relative;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #333;
    padding: 60px 30px;
}

footer h1{
    color: #fff;
    font-size: 25px;
}

footer button{
    width: 60%;
    height: 70px;
    border: 2px solid var(--text-color);
    outline: none;
    margin: 10px 0;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    font-size: 14px;
    transition: .5s;
}

footer button:hover{
    border-color: #fff;
}
 
footer button div{
    color: #fff;
    opacity: .6;
    font-size: 10px;
}

footer a{
    display: block;
    color: var(--text-color);
    font-size: 20px;
    margin: 10px 0;
    transition: .5s;
}

footer a:hover{
    color: #fff;
}


   footer .div1 { grid-area: 1 / 1 / 2 / 2; }
   footer .div2 { grid-area: 1 / 2 / 2 / 3; }
   footer .div3 { grid-area: 1 / 3 / 2 / 4; }
   footer .div4 { grid-area: 1 / 4 / 2 / 5; }




@media (max-width : 750px) {
    .home {
        flex-direction: column;
        padding: 60px 40px;
    }

    .delivery-services {
        padding: 90px 100px;
    }

    .delivery-services .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 50px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .div5 {
        grid-area: 5 / 1 / 6 / 2;
    }

    .div6 {
        grid-area: 6 / 1 / 7 / 2;
    }



    .about-parent {
        flex-direction: column;
        grid-row-gap: 50px;
    }

    footer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        padding: 0 50px;
    }

    footer .div1 { grid-area: 1 / 1 / 2 / 2; }
    footer .div2 { grid-area: 2 / 1 / 3 / 2; }
    footer .div3 { grid-area: 3 / 1 / 4 / 2; }
    footer .div4 { grid-area: 4 / 1 / 5 / 2; }
}

@media (max-width : 435px) {


    .home,
    .delivery-services,
    .about,
    footer{
        padding: 50px 46px;
    }

    header {
        padding: 0px 46px;
    }
}

@media (max-width : 320px) {

    .home,
    .delivery-services,
    .about {
        padding: 50px 20px;
    }

    header {
        padding: 0px 16px;
    }
}
